<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Clientes</title>
</head>
<body>
	<h2>Listado de clientes</h2>
	
	
	<table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Facturacion</th>
           
          </tr>
        </thead>
	
	<tr th:each="cliente : ${clientes}">
            <th scope="row">[[${cliente.id}]]</th>
            <td>[[${cliente.nombre}]]</td>
            <td>[[${cliente.facturacion}]]</td>
            </tr>
	</table>
        
	
</body>
</html>